* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden; /* ✅ Prevents horizontal scroll */
}

#root {
  margin: 0;
  padding: 0; 
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.img {
  position: fixed;
  top: -2rem;
  width: 100%;
  height: 60vh;
  object-fit: cover;
  left: 0;
  right: 0;
}

.first {
  color: #33658A;
}

.second {
  color: #F26419;
}

.nav {
  background-color: #f7f6f2;
  height: 4rem;
  border-bottom: 1px solid black;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.links {
  display: flex;
  gap: 30px;
  font-weight: bold;
  margin-right: 2rem;
}

.links span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.name {
  display: flex;
}

.image {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.overlay {
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%);
  color: black;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.overlay p {
  font-size: 27px;
}

.overlay h1 {
  font-size: 3rem;
}

@media (max-width: 600px) {
  .overlay {
    top: 40%;
  }

  .overlay p {
    font-size: 12px;
  }

  .overlay h1 {
    font-size: 2rem;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.about-1 {
  padding: 2rem;
  background-color: #f7f6f2;
}

.about {
  padding: 2rem;
  display: flex;
}

.about img {
  margin-left: -4rem;
  height: 25rem;
  width: 40rem;
}

.text h1 {
  text-decoration: underline #f26419;
}

.data {
  display: flex;
  align-items: center;
  justify-content: center;
}
